<%- include('../includes/head.ejs') %> 

</head>
    <div>
        <h2><%= errorMessage %> </h2>
    </div>
    <form action="/reset" method="POST">
        <div>
            <input type="password" name="password" placeholder="Enter new password">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" name="update-password">Update password</button>
    </form>
</body>
</html>